@model ClinicManagment.Models.Appointment

@{
    ViewData["Title"] = "تفاصيل الموعد";
    Layout = "_Layout";
}

<div class="container">
    <h1>تفاصيل الموعد</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">المريض:</dt>
            <dd class="col-sm-10">@Model.Patient?.Name</dd>

            <dt class="col-sm-2">الطبيب:</dt>
            <dd class="col-sm-10">@Model.Doctor?.Name</dd>

            <dt class="col-sm-2">التاريخ:</dt>
            <dd class="col-sm-10">@Model.AppointmentDate.ToShortDateString()</dd>

            <dt class="col-sm-2">وقت البدء:</dt>
            <dd class="col-sm-10">@Model.StartTime.ToString(@"hh\:mm")</dd>

            <dt class="col-sm-2">وقت الانتهاء:</dt>
            <dd class="col-sm-10">@Model.EndTime.ToString(@"hh\:mm")</dd>

            <dt class="col-sm-2">الحالة:</dt>
            <dd class="col-sm-10">@Model.Status</dd>

            <dt class="col-sm-2">ملاحظات:</dt>
            <dd class="col-sm-10">@Model.Notes</dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">تعديل</a>
        <a asp-action="Index" class="btn btn-secondary">العودة للقائمة</a>
    </div>
</div>